<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.shaap.angelteichanlage.de" >

    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <activity
            android:name="com.shaap.angelteichanlage.de.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".news.NewsreaderActivity"
            android:label="@string/newsbutton_text"
            android:parentActivityName="com.shaap.angelteichanlage.de.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.shaap.angelteichanlage.de.MainActivity" />
        </activity>
        <activity
            android:name=".news.ShowNewsActivity"
            android:label="@string/title_activity_show_news"
            android:parentActivityName=".news.NewsreaderActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="NewsreaderActivity" />
        </activity>
    </application>

</manifest>
